head {
h1, p {
            color: white; /* Change text color to white or any color that contrasts well with your background */
            background-color: rgba(0, 0, 0, 0.5); /* Optional: adds a semi-transparent layer behind text */
            padding: 5px; /* Optional: adds some space around the text */
            border-radius: 5px; /* Optional: rounds the corners of the background layer */
        }
}

body {
            background-image: url('photos/thermite_background.png'); /* Reference the background image */
            background-size: cover; /* Cover the entire page */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-attachment: fixed; /* The background is fixed with regard to the viewport */
            
            .button-banner {
                display: flex;
                justify-content: space-around;
                margin: 20px;
              }

            .button-banner a {
                text-align: center;
                padding: 10px 20px;
                text-decoration: none;
                color: white;
                background-color: #007bff;
                border-radius: 5px;
                transition: background-color 0.3s;
              }

            .button-banner a:hover {
                 background-color: #0056b3;          
        }
        
